.container {
  display: flex;
  flex: 1 1 0px;
  cursor: pointer;
  color: var(--matrix-green-black);
  font-size: 1.5rem;
}

.year {
  position: relative;
  width: 33%;
  height: 100%;
}

.year-after {
  position: absolute;
  right: 0;
  height: 100%;

  transform: scale(0);
}

.year-after-anim {
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 3.5s;

  border-right: 5px solid var(--matrix-green-black);
}

.year-after-out-anim {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 1.5s;

  border-right: 5px solid var(--matrix-green-black);
}

.logo-style {
  position: absolute;
  top: 52%;
  right: 30px;
  text-align: center;
  display: block;
  width: 80%;
  height: 50%;
}
.year-style {
  display: block;
  position: absolute;
  top: calc(76% + 25px);
  left: 20px;
  text-align: center;
  margin: 0;
}

.text {
  position: relative;
  width: 66%;
  height: 100%;
  font-size: 1.25rem;
}

.text-style {
  position: absolute;
  top: calc(76% - 30px);
  left: 20px;
  text-align: center;
  display: block;
  padding-right: 10%;

  margin: 0;
}
.text-style-is-active {
  border-color: 5px solid var(--matrix-green-black);
}

.text-style-border {
  position: absolute;
  top: 76%;
  width: 80%;
  border-bottom: 5px solid var(--matrix-green-black);
  transform: scaleX(0);
}

.text-style-border-anim {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 3.5s;
}

.nav-item {
  position: absolute;
  top: 74%;
  left: -10px;
  display: block;
  width: 16px;
  height: 16px;
  margin-bottom: 28px;
  border: 3px solid var(--matrix-green);
  border-radius: 50%;
  cursor: pointer;
  background: whitesmoke;
}

.is-active {
  background: black;
  opacity: 1;
  transform: scale(1.5);
  z-index: 5;
  animation: blip 3s infinite;
}

@keyframes blip {
  0% {
    background: whitesmoke;
  }
  50% {
    background: black;
  }
  100% {
    background: whitesmoke;
  }
}

@media only screen and (max-width: 800px) {
  .text {
    font-size: 0.75rem;
    width: 90%;
    font-weight: 600;
  }
  .text-style {
    padding: 0;
    margin: 0;
    left: 2px;
  }
  .year {
    width: 10%;
  }
  .year-style {
    left: 35px;
    top: calc(76% + 10px);
    text-align: center;
  }

  .logo-style {
    display: none;
  }
}
